@charset "iso-8859-1";


html {
	margin:0px;	
	padding:0px;
}


body {	
	font-family:"Nunito", sans-serif !important;
	font-size:13px;
	line-height:24px !important;
	margin:0px;
	overflow-x:hidden;
	width:100%;
}

img{
	border:0px;	
}

img.thumbnail{
	height: 200px;
}

.image img{
	border: 1px solid #59a6c4;
	margin:30px;
}

a{
	outline:none;
}

p{
	color:#666;
	font-family: verdana;
	font-size:14px;	
	line-height:23px;
	text-align:left !important;
}

.submit{
	border:2px dashed #59a6c4;
	color:#59a6c4;
	cursor:hand;
	font-weight:bold;
	margin-top:7px;
	background-color:#d8eefa;
	padding:5px;
}

.input_error{
	background-color:#f8d8d8!important;	
	border: 1px solid red;
}

p.field_error{
	color:red;
	font-size:12px;
	padding:0px;
	margin:0px;
}

p.menu_link{	
	float:left;
	margin:0px;
}
 
div.form_container{ 
	float:right;
}

div.album_reactions,
div.content_reactions{
	background-color:#fcfcfc;
	border-radius:5px;
	border: 1px solid #efefef;
	float:left;
	width:98%;
}

div.form_reactions_container textarea,
div.form_reactions_container .field{
	width:100%;
}

div.form_reactions_container textarea,
div.form_reactions_container .field,
div.form_container .field{ 
	background-color:#fefefe;
	border:1px solid #efefef;
	padding:6px;
}

.admin-left-menu{
	background-color:#fefefe;
	float:left;
	height:auto;
	padding:20px;
	width:30%;
}

.admin-left-menu .menu-item{
	border-radius: 0;
	border: 1px solid #efefef;
	width:100%;
}

.admin-left-menu .menu-item a{
	color:#aaa;
}

p.menu_link a{
	background-color:#d8eefa;
	float:left;	
	margin:0 20px;
	padding: 25px;
	text-decoration:none;
	text-transform: uppercase;
	color:#95B3C4;
}

p.menu_link a:hover{
	background-color:#a2c5d8;	
	text-decoration:none;
	color:#ffffff;
}

#navigation{	
	background-color:#d8eefa;
	max-width: 1000px;
	margin: 0 auto;
	min-width:800px;
	width:98%;
}

.sticky {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-top: 0 !important;
	position: fixed;
	top: 0;
	width: 98%;
	z-index:9999;
  }
  
  .sticky + .container-fluid {
	margin-top: 80px !important;
  }

#page-top{
	background-image:url(../images/bg_top.png);
	height:259px;		
}

div.wrapper{
	background-image:url(../images/middle_repeat.png);
	background-repeat:repeat-y;
	margin: 0 auto;
	min-height:100px;
	overflow:auto;		
}

div.wrapper .container-fluid{
	padding:0 !important;
	max-width:1000px;
	width: 98% !important;
	z-index:0;
}

div.wrapper div.top_container{	
	background-color:#d8eefa;
	height:75px;
	width:100%;
}

div.wrapper div.top_container table.zoekform{
	float:right;	
}

div.wrapper div.top_container table.zoekform input{
	background-color:#d8eefa;
	border: 3px dashed white;
	color:#99a6c4;	
}

div.wrapper div.top_container table.zoekform .submit{	
  max-width:80px;
}

div.wrapper div.top_container table.zoekform .field{
	background-color:#efefef;
	color:#bbb;
}

div.wrapper div.top_container div.menu_content{
	background-color:#d8eefa;	
	margin: 0 auto;
	height:70px;
	width:98%;
}

div.wrapper div.extra_container{
	margin:0px auto;
	text-align:left;
	width:859px;
}

div.wrapper div.left_container{
	float:left;
	margin-left:20px;
	text-align:left;
	width:650px;
}

div.wrapper div.right_container{
	float:right;
	text-align:left;
	max-width:150px;
}

div.wrapper div.right_container .titel{
	color:#59a6c4;
	font-size:14px;
	font-weight:bold;
}

div.wrapper div.right_container div.archive ul li{
	list-style:none;
	list-style-image:url('https://www.ronald-designs.nl/babyblog/images/arrow_right.gif');
}

div.wrapper div.right_container div.category a,
div.wrapper div.right_container div.archive ul li a{
	color:#99a6c4;
	font-size:12px;
	text-decoration:none;
}

div.wrapper div.right_container div.category a:hover,
div.wrapper div.right_container div.archive ul li a:hover{
	color:#666;
}


/***** poll *****/

div.poll{
	-moz-border-radius:1em;
	background-color:#eee;
	border:1px solid #ddd;
	float:left;
	height:150px;
	padding-right:10px;
	width:200px;
}

div.poll .error{
	color:red;
	font-size:10px;
	margin-left:10px;
	padding:0px;
}

div.poll_top{
	color:#666;

}

div.poll div.poll_answer{
	clear:both;
	color: #666;
	float:left;	
	width:200px;
}

div.poll div.poll_bottom{
	float:left;	
}

div.poll div.poll_bottom a{
	color:#aaa;	
}

div.poll .submit{
	float:left;	
}

div.poll div.poll_option{
	clear:both;
	float:left;	
	width:190px;
}

div.poll .answer_left{
	float:left;
	font-size:12px;
	margin-left:5px;
	width:140px;
}

div.poll  .pct_right{
	float:right;
	width:30px;
}

div.poll div.line{
	clear:both;
	float:left;
	height:8px;	
}

.poll_title{
	color:#59A6C4;
	font-size:14px;
	font-weight:bold;
}

.middle{
	font-size: 12px;
	text-align:center;
}

/***** blog items ****/

div.content_items{
	margin:10px auto;
	max-width:1000px;
	width:98%;
}

div.content_items .content_author{
	clear:both;
	float:left;
}

div.content_items div.pagination{
	float:left;	
	width:98%;
}

div.content_items div.pagination nav{
	margin: 10px auto;
}

div.album .card,
div.search,
div.blog_item{
	background-color: #fcfcfc;
	border-radius: 8px;	
	border: 1px solid #fafafa;
	box-shadow: 2px 2px 4px #ddd;
	float:left;
	text-align:left;
	width: 98%;
}

div.album_item_holder div.album_item img.thumbnail,
div.album .card{
	opacity:0.4;	
	height:250px;
}

div.album_item_holder div.album_item img.thumbnail:hover,
div.album .card:hover{
	border:2px solid #D8EEFA;
	opacity:1;
}

div.album .card .card-text{	
	color:#666;
	font-size:13pt;
	margin-top:40px;
	padding:15px;
	text-align:center !important;
}

div.album .card a{
	text-decoration: none;
}

div.album_item_holder{
	width:98%;
}

div.album_item_holder div.album_item{
	float:left;
}

div.album_item_holder div.album_item img.thumbnail{
	border:2px solid #eee;
	padding:15px;
}


div.album_item_details .album_top,
div.blog_item .content_top{
	float:left;
	padding:5px 0;
	width:98%;
}

div.album_item_details .album_body,
div.blog_item .content_body{	
	font-size:10pt;
	font-weight:300;
	line-height:22px;
	margin:20px 0 10px 0;
}

table.admin_content_items{
	border:1px solid #eee;
	margin:20px auto;
	width:100%;
}

table.admin_content_items a{
	color:#8daad6;
	font-weight:b400old;
	text-decoration: none;
}

table.admin_content_items a:hover{
	color:#666;
}

table.admin_content_items th{
	background-color:#ccc;
	color:white;
	font-weight: 400;
	text-transform: uppercase;
}

table.admin_content_items td{
	border-bottom:1px solid #eee;
}

table.admin_content_items tr{
	background-color: #f8f9fa;
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-ms-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

table.admin_content_items tr:hover{
	background-color:#efefef;
}

table.admin_photoalbum_details,
table.admin_blog_item_details{
	border:1px solid #eee;
	margin:30px 0;
	width:98%;
}

table.admin_photoalbum_details select,
table.admin_blog_item_details select,
table.admin_photoalbum_details input[type=text],
table.admin_blog_item_details input[type=text],
table.admin_photoalbum_details textarea,
table.admin_blog_item_details textarea{
	background-color:white;
	border:1px solid #eee;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	padding:10px;
	width:98%;
}

table.admin_photoalbum_details input:focus,
table.admin_photoalbum_details textarea:focus,
table.admin_blog_item_details input:focus,
table.admin_blog_item_details textarea:focus{
	background-color:#f7faff;
	border:1px solid #ddd;
}

table.admin_photoalbum_details input.btn,
table.admin_blog_item_details input.btn{
	width:auto;
}

table.admin_photoalbum_details label,
table.admin_blog_item_details label{
	color:#8daad6;
}

table.admin_photoalbum_details td,
table.admin_blog_item_details td{
	padding:30px;
}

div.admin_blog_item .admin_content_top .admin_content_top_title a,
div.blog_item .content_top .content_top_title a{
	color:#59a6c4;
	float:left;
	font-size:23px;
	line-height:30px;
	margin: 5px 0;
	text-decoration:none;
	width:100%;
}

div.admin_blog_item .admin_content_top .admin_content_top_title a{
	color:#999;
}

div.admin_blog_item .admin_content_date,
div.blog_item .content_date{
	color:#999;
	clear:left;
	float:right;
	font-size:10px;	
	width:100%;
}

div.admin_blog_item div.admin_blog_middle,
div.blog_item div.blog_middle{
	float:left;
	margin:20px 5px;
	width:95%;
}

div.blog_item .image .ieshadow1{
	float:left;
}

.content_reactions div.form_reactions_container{	
	width:98%;
}

.reaction_item_holder{
	float:left;
	max-width:1000px;
	padding:10px;
	width:98%;	
}

.reaction_item{
	background-color:#efefef;
	border:1px solid#ddd;
	border-radius: 4px;	
	min-height:150px;
}

.reaction_item .reaction_top{
	border-bottom:1px solid #ddd;
	height: 50px;
	padding: 10px 0;
}

.reaction_item .reaction_top .reaction_name{
	float:left;
}

.reaction_item .reaction_top .reaction_date{
	color:#aaa;
	float:right;
	font-size:9pt;
	margin-right:20px;
}

.reaction_item .reaction_body{
	color:#666;
	font-size:10pt;
}

div.image_content div.content_reactions,
div.blog_item div.content_reactions{
	clear:left;
	color:#666;
	font-size:11px;
	margin: 15px 0px;
	float:left;
}

div.image_content div.omschrijving{
	clear:both;
	float:left;	
}

div.image_content .tape_top{
	position:relative;
	margin-left:-350px;
}

div.image_content .tape_bot{
	position:absolute;
	left:37%;
	bottom:5px;
}

p.medium_titel{
	color:#59a6c4;
	font-weight:bold;
	font-size:12px;
}

table.reactie_form{
	clear:both;
	float:left;
	font-size:11px;
}

table.reactie_form textarea,
table.reactie_form input.form_field{
	background-color:#eff8fd;
	border: 1px dashed #59a6c4;
	color:#59a6c4;
	padding:5px;
}

div.blog_item div.line{
	background-image:url('../images/line_repeat.png');
	background-repeat:repeat-x;
	clear:left;
	float:left;
	height:40px;
	width:590px;
}

div.bottom_nav{
	float:left;
	margin:20px 0 0 10px;
	vertical-align:bottom;
	width:100%;	
}

div.older{
	float:left;
	width:200px;	
}

div.newer a,
div.older a{
	color:#666;
	font-weight:bold;
	text-decoration:none;
}

div.newer{
		float:right;
		text-align:right;
		width:200px;
}

div.reactie_holder{
	border: 1px solid #eaeaea;
	float:left;
	width:600px;
	margin:12px 5px;
}

div.reactie_holder .reactie_top{
	background-color:#eaeaea;
	border-bottom:1px solid #eaeaea;
	float:left;
  max-width:580px;
  padding:10px;
	width:100%;
}

div.reactie_holder p{
	margin:0px;
	padding:0px;
}

div.reactie_holder .naam{
	float:left;
	font-size:12px;
	color:#88a6c4;
	margin:10px 5px;
	width:350px;
}

div.reactie_holder .time{
	color:#bbb;
	float:right;
	font-size:10px;
	margin-top:10px;
	width:150px;	
}

div.reactie_holder .reactie_midden{
	clear:left;
	float:left;
	margin:3px 4px;
		min-height:50px;
  padding:10px;
		width:580px;
}

div.album_item_details,
div.blog_item_details{	
	float: left;
	margin: 50px auto;
	max-width:1000px;
	width:98%;
}

div.album_item_details table.reaction_form,
div.blog_item_details table.reaction_form{
	clear:left;
	float:left;
	width:600px;
}

div.blog_item_details table.reaction_form .medium_titel{
	color:#99a6c4;
	font-weight:bold;
}

div.album_item_details .album_reactions,
div.blog_item_details .content_reactions,
div.blog_item .content_reactions{
	color:#59a6c4;
	float:left;
}

div.album_item_details .album_reactions a,
div.blog_item_details .content_reactions a,
div.blog_item .content_reactions a{
	color:#59a6c4;
	text-decoration:none;
}

div.blog_item div.blog_content{
	color:#666;
	float:left;
}

div.blog_item div.blog_content div.tekst{
	margin:0px 0px 15px 0px;
}


/***** Foto album gedeelte *****/

div.content_items div.crumble_path{
	color:#59a6c4;
	margin:10px 0 0 10px;	
}

div.content_items div.crumble_path a{
		color:#666;
	font-weight:bold;
	text-decoration:none;
}

div.content_items div.crumble_path a:hover{
	color:#59a6c4;	
}

div.album_content{
	/*border: 1px solid #d8eefa;*/
	color:#666;
	float:left;	
	margin-top:10px;
	margin-left:-20px;
	min-height:300px;
	width:900px;
}


div.album_content a{
	text-decoration:none;	
}

div.content_top,
div.album_top{
	color:#59a6c4;	
	font-size:16px;	
	line-height:20px;
	margin: 5px 5px 0px 0;
	text-decoration:none;	
}

span.album_details p,
span.album_details{
	color:#59a6c4 !important;
	float:left;
	font-size:11px !important;
	font-weight:bold;
	margin: 15px 5px 0px 10px;	
	width:800px;
}

div.album_content div.tekst{
	float:left;
	margin:10px;	
	width:auto;
}

div.album_content div.album,
div.album_content div.album_items{
	float:left;
	padding:10px;	
	width:900px;
}

div.album_content div.album{
	margin-left:-10px;	
}

div.album_content div.album_items{
	margin-left:10px;
}

.image_container{
	background-repeat: no-repeat;
	border:1px solid #ddd;
	opacity: 0.5;
	padding:20px;
}

div.album_content div.album div.album_item,
div.album_content div.album_items div.album_item{
	float:left;
	font-weight:bold;
	margin:15px 7px;
	text-align:center;
}


div.album_content div.album div.album_item img,
div.album_content div.album_items div.album_item img{
	border:1px solid #ddd;
	padding:5px 5px;
  width:150px;
}

div.album_content div.album div.album_item .ieshadow1,
div.album_content div.album_items div.album_item .ieshadow1 {
        margin: 10px;
        background-color: rgb(68,68,68); /* Needed for IEs */

        -moz-box-shadow: 2px 2px 8px rgba(68,68,68,0.6);
        -webkit-box-shadow: 2px 2px 8px rgba(68,68,68,0.6);
        box-shadow: 2px 2px 8px rgba(68,68,68,0.6);

        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
        -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
        zoom: 1;
}

div.album_content div.album div.album_item .ieshadow1 .protectfromblur,
div.album_content div.album_items div.album_item .ieshadow1 .protectfromblur {
        position: relative; /* This protects the inner element from being blurred */
        background-color: #fefefe;
}

div.album_content div.album div.album_item img:hover,
div.album_content div.album_items div.album_item img:hover{
	-moz-box-shadow: 1px 2px 5px #59a6c4;
  	-webkit-box-shadow: 1px 2px 5px #59a6c4;
  	box-shadow: 1px 2px 5px #59a6c4;
}

div.album_content div.album div.album_item a,
div.album_content div.album_items div.album_item a{
	color:#666;
}

div.album_content div.album div.album_item a:hover,
div.album_content div.album_items div.album_item a:hover{
	color:#59a6c4;
}

div.album_content div.album_items div.image_content{
	float:left;
	width:850px;
}

div.album_content div.album_items div.image_content div.image_holder{
	float:left;
	margin-bottom:20px;
	padding:15px;
	width:95%;
}

div.album_content div.album_items div.image_content div.image_holder img{
	border:1px solid #ddd;
	padding: 5px;
  width:  98%
}

div.album_content div.album_items div.image_content div.image_details{
	float:left;
	font-size:11px;
	margin-bottom:10px;
	padding:15px;
	width:250px;
}

div.album_content div.nav_bottom{
	color:#666;
	float:left;
		font-weight:bold;
	margin-top:25px;
	text-align:center;
	width:100%;
}

div.album_content div.nav_bottom a{
	color:#ccc;
}

div.album_content div.nav_bottom a:hover{
	color:#59a6c4;
}

div.album_content div.nav_bottom .number{
	margin:5px;	
}

div.bottom_content{
	background-image:url(../images/bg_bottom.png);
	height:279px;
	margin:0px auto;	
}
